h1{
  font-size: 50px;
}

#nom{
  margin-top : 5rem
}

/*Slide show*/

/*Fin slide show*/
#presentation .bouton-more a{ 
  padding: 0.8rem 5rem; 
  background: white; 
  border: black solid 0.2rem;
  color: black; 
  text-decoration: none;
}
  
#presentation .bouton-more a:hover {
  transition : 0.8s ;
  background: black;
  color: white;
}
  
#presentation .items .bouton-more{
  margin-bottom: 4rem;
} 

.description{
  margin: 3rem;
}

.description p{
  margin-left: 5rem;
  margin-right: 5rem;
  text-align:justify ;
}

i {
	position: relative;
	display: block;
	width: 500px;
	height: 300px;
	overflow: hidden;
	border-radius: 5px;
}

i:before, i:after {
	content: '⥪';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: dodgerblue;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: '⥭';
	left: auto;
	right: 1rem;
}


input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 1rem;
	color: white;
	padding: .5rem;
	font-size: 1rem;
	border-radius: 5px;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}
.slide-show{
  align-items: center;
  display: flex;
  flex-direction: column;
}